@font-face {
  font-family: "iconfont"; /* Project id 3307209 */
  src: url('iconfont.woff2?t=1654349770762') format('woff2'),
       url('iconfont.woff?t=1654349770762') format('woff'),
       url('iconfont.ttf?t=1654349770762') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e601";
}

.icon-weibo:before {
  content: "\e882";
}

.icon-15:before {
  content: "\e61e";
}

.icon-liwu:before {
  content: "\e627";
}

.icon-7:before {
  content: "\e67d";
}

.icon-liaotian:before {
  content: "\e89c";
}

.icon-weixiu:before {
  content: "\e7d6";
}

.icon-location:before {
  content: "\e635";
}

.icon-right-circle-fill:before {
  content: "\e845";
}

.icon-arrow-right-circle:before {
  content: "\e665";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

