@font-face {
  font-family: "iconfont"; /* Project id 3443149 */
  src: url('iconfont.woff2?t=1654584394678') format('woff2'),
       url('iconfont.woff?t=1654584394678') format('woff'),
       url('iconfont.ttf?t=1654584394678') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kongxin:before {
  content: "\e62e";
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-xianshi_xuanze:before {
  content: "\e625";
}

.icon-bofangqi-bofang:before {
  content: "\e6a4";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-arrow-right-circle:before {
  content: "\e665";
}

.icon-RectangleCopy:before {
  content: "\e6a2";
}

.icon-tuikuan:before {
  content: "\e8b2";
}

.icon-time:before {
  content: "\e65f";
}

.icon-recharge:before {
  content: "\e6ed";
}

.icon-mobile:before {
  content: "\e704";
}

.icon-simqia:before {
  content: "\e647";
}

.icon-caigou-xianxing:before {
  content: "\e887";
}

.icon-qiyeyuanquwuye-xianxing:before {
  content: "\e894";
}

