@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
}
#header {
  background-color: #333333;
  height: 40px;
  width: 100%;
}
#header a {
  text-decoration: none;
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
}
#header a:hover {
  color: white;
}
#header .line {
  margin: 0 0.3em;
  background-color: #424242;
}
#header > .container {
  margin: 0 auto;
  width: 1226px;
  height: 40px;
  font-size: 12px;
}
#header > .container > #header-nav {
  float: left;
}
#header > .container .cart {
  float: right;
  width: 120px;
  height: 40px;
  margin-left: 15px;
  position: relative;
}
#header > .container .cart a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
  transition: 0.3s;
}
#header > .container .cart a i {
  margin-right: 4px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: -4px;
}
#header > .container .cart .mainboard {
  width: 316px;
  height: 0px;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: absolute;
  left: -195px;
  transition: height 0.3s;
}
#header > .container .cart:hover a {
  background-color: #fff;
  color: #ff6706;
}
#header > .container .cart:hover .mainboard {
  height: 100px;
  z-index: 99;
  background-color: #fff;
  transition: height 0.3s;
}
#header > .container .header-info {
  float: right;
}
