.product-main {
  width: 100%;
}
.product-main::before {
  content: "";
  display: block;
  clear: both;
}
.product-main .product-box {
  width: 1226px;
  margin: 0 auto;
  padding: 32px 0 12px;
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 12px;
  min-width: 1226px;
}
.product-main .product-box .product-left {
  width: 606px;
  position: relative;
}
.product-main .product-box .product-left img {
  width: 560px;
  height: 560px;
  border: 0;
}
.product-main .product-box .product-right {
  -webkit-box-flex: 1;
  flex: 1;
  margin-left: 20px;
}
.product-main .product-box .product-right h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}
.product-main .product-box .product-right .sale-desc {
  color: #b0b0b0;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  line-height: 1.5;
}
.product-main .product-box .product-right .company-info {
  color: #ff6700;
  margin-top: 14px;
  margin-bottom: 0;
}
.product-main .product-box .product-right .price-info {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #ff6700;
  padding: 12px 0 10px;
}
.product-main .product-box .product-right .price-info del {
  font-size: 14px;
  margin-left: 5px;
  color: #b0b0b0;
}
.product-main .product-box .product-right .line {
  margin-top: 12px;
  border-bottom: 1px solid #e0e0e0;
}
.product-main .product-box .product-right .activity-box {
  padding: 24px 0 0;
  border-bottom: 1px solid #e0e0e0;
}
.product-main .product-box .product-right .activity-box .coupon-box {
  margin-bottom: 24px;
}
.product-main .product-box .product-right .activity-box .coupon-box span,
.product-main .product-box .product-right .activity-box .coupon-box a {
  display: inline-block;
}
.product-main .product-box .product-right .activity-box .coupon-box .coupon-tag {
  width: 80px;
  padding: 2px 0;
  text-align: center;
  background: #ff6700;
  color: #fff;
}
.product-main .product-box .product-right .activity-box .coupon-box .coupon-name {
  width: 430px;
  line-height: 26px;
  margin-left: 10px;
}
.product-main .product-box .product-right .activity-box .coupon-box a {
  color: #ff6700;
  float: right;
  line-height: 26px;
}
.product-main .product-box .product-right .address-box {
  margin: 20px 0;
}
.product-main .product-box .product-right .address-box .product-address {
  padding: 30px 50px;
  position: relative;
  background: #fafafa;
  border: 1px solid #e0e0e0;
}
.product-main .product-box .product-right .address-box .product-address > i {
  position: absolute;
  left: 20px;
  top: 26px;
  font-size: 20px;
  color: #999;
}
.product-main .product-box .product-right .address-box .product-address .address-info {
  display: inline-block;
}
.product-main .product-box .product-right .address-box .product-address .address-info span {
  display: inline;
  margin-right: 14px;
}
.product-main .product-box .product-right .address-box .product-address .edit {
  text-decoration: none;
  color: #ff6700;
  margin: 0;
  display: inline-block;
}
.product-main .product-box .product-right .address-box .product-address .info .desc span {
  color: #ff6700;
  margin: 0;
}
.product-main .product-box .product-right .buy-options .buy-box-child {
  margin-bottom: 30px;
  position: relative;
}
.product-main .product-box .product-right .buy-options .buy-box-child .option-box .title {
  font-size: 18px;
}
.product-main .product-box .product-right .buy-options .buy-box-child .option-box ul::after {
  content: "";
  display: block;
  clear: both;
}
.product-main .product-box .product-right .buy-options .buy-box-child .option-box ul li {
  margin-right: 12px;
  margin-top: 10px;
  line-height: 42px;
  height: 42px;
  position: relative;
  border: 1px solid #e0e0e0;
  list-style: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  float: left;
  width: 292px;
  font-size: 16px;
  text-align: center;
}
.product-main .product-box .product-right .buy-options .buy-box-child .option-box ul li a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  color: #757575;
}
.product-main .product-box .product-right .buy-options .buy-box-child .option-box ul .active {
  z-index: 3;
  border-color: #ff6700;
}
.product-main .product-box .product-right .buy-options .buy-box-child .option-box ul .active a {
  color: #ff6700;
}
.product-main .product-box .product-right .selected-list {
  background: #f9f9fa;
  padding: 30px;
  margin-bottom: 30px;
}
.product-main .product-box .product-right .selected-list ul li {
  list-style: none;
  line-height: 30px;
  color: #616161;
}
.product-main .product-box .product-right .selected-list ul li span {
  float: right;
}
.product-main .product-box .product-right .selected-list ul li span del {
  margin-left: 5px;
  float: right;
}
.product-main .product-box .product-right .selected-list .total-price {
  color: #ff6700;
  font-size: 24px;
  padding-top: 20px;
}
.product-main .product-box .product-right .btn-box {
  margin: 10px 0 20px 0;
}
.product-main .product-box .product-right .btn-box .sale-btn {
  display: inline-block;
  margin-right: 10px;
}
.product-main .product-box .product-right .btn-box .sale-btn .btn {
  display: inline-block;
  width: 298px;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  border: 1px solid #b0b0b0;
  transition: all 0.4s;
  text-align: center;
  cursor: pointer;
}
.product-main .product-box .product-right .btn-box .sale-btn .btn-primary {
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
}
.product-main .product-box .product-right .btn-box .favorite-btn {
  display: inline-block;
  vertical-align: top;
}
.product-main .product-box .product-right .btn-box .favorite-btn .btn-gray {
  background: #b0b0b0;
  color: #fff;
}
.product-main .product-box .product-right .btn-box .favorite-btn .btn-like {
  display: block;
  width: 140px;
  height: 52px;
  line-height: 52px;
  padding: 0;
  margin: 0;
  border: 1px solid #b0b0b0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 0;
  position: relative;
}
.product-main .product-box .product-right .btn-box .favorite-btn .btn-like > i {
  font-size: 22px;
  font-weight: 900;
  line-height: 23px;
  vertical-align: -4px;
  margin-right: 5px;
}
.product-main .product-box .product-right .btn-box .favorite-btn .btn-like > span {
  font-size: 16px;
}
.product-main .product-box .product-right .after-sale-info span {
  display: inline-block;
  margin-left: -2px;
}
.product-main .product-box .product-right .after-sale-info span a {
  display: inline-block;
  margin-right: 15px;
  line-height: 30px;
  margin-bottom: 10px;
  cursor: default;
  white-space: nowrap;
  color: #b0b0b0;
  font-size: 0px;
}
.product-main .product-box .product-right .after-sale-info span a i {
  font-size: 20px;
  display: inline-block;
  font-style: normal;
  vertical-align: middle;
}
.product-main .product-box .product-right .after-sale-info span a em {
  font-style: normal;
  display: inline-block;
  margin-left: 2px;
  font-size: 14px;
  vertical-align: middle;
}
.product-detail {
  padding-bottom: 50px;
  background: #f5f5f5;
}
.product-detail .detail-container {
  width: 1226px;
  margin: 0 auto;
}
.product-detail .detail-container h3 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
}
.product-detail .detail-container .img-box {
  height: 189px;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.product-detail .detail-container .img-box img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
}
